{% load static %}

<!DOCTYPE html>
<html lang="{{language}}">

<head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/wingechr_javascript_frontend.min.css' %}">



</head>

<body>
    <main class="container">
