/* colors from style guide */

$cWhite: #ffffff;
$cLight: #f8f9fa;
$cDark: #282828;
$cGreen: #004D57;
$cYellow: #E67551;
$cRed: #820f2b;
$cBlue: #294C9F;
$cAccentGreen: #388275;
$cAccentYellow: #E8AD44;
$cAccentRed: #B72759;
$cAccentBlue: #4067B0;
$cDarkAccentGreen: #489680;
$cDarkAccentYellow: #EBB949;
$cDarkAccentRed: #BC2164;
$cDarkAccentBlue: #4B7BB4;
$cScore5: #0C671C;
$cScore4: #61873B;
$cScore3: #F3AF3F;
$cScore2: #E57805;
$cScore1: #C8303B;

/* apply to bootstrap
   see also: https://getbootstrap.com/docs/4.0/customize/color/
*/

$body-bg:  $cWhite;
$body-color: $cDark;

$primary:    $cAccentYellow;
$secondary:  $cAccentGreen;
$success:    $cDarkAccentGreen;
$info:       $cDarkAccentBlue;
$warning:    $cDarkAccentYellow;
$danger:     $cDarkAccentRed;
$light:      $cWhite;
$dark:       $cGreen;
