# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Python
*.egg-info

# IDE
.idea
.vscode
.spyderproject
.spyproject
*.code-workspace

# Scons
.sconsign.dblite

# Environments
env
.env
venv
.venv
node_modules
.tox
.env.local
.env.development.local
.env.test.local
.env.production.local

# Excel
~*

# cache
.parcel-cache

# build dirs
temp
tmp
build
dist
site


# testing
/coverage

# misc
.DS_Store

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# django
_local_data
_static
