exclude: ^$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-yaml # checks yaml files for parseable syntax.
        args: ["--unsafe"] # because of tags in mkdocs.yml
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-black~=0.4
        args: [
            "--max-line-length=88",
            "--ignore=E20,W503",
            "--exclude=**/migrations/*.py",
          ] # black compatible

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-alpha.1
    hooks:
      - id: eslint
        language: node
        entry: npx eslint --fix
        files: .*\.(js|jsx|mjs|cjs|ts|tsx)$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        language: node
        files: .*\.(json|md|yaml|yml|sql|html)$
        exclude: .*templates/.*\.html$

  - repo: https://github.com/djlint/djLint
    # see https://djlint.com/docs/integrations/
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
        files: .*templates/.*\.html$

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
