exclude: ^.*(.min.js|.min.css)$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-yaml # checks yaml files for parseable syntax.
        args: ["--unsafe"] # because of tags in mkdocs.yml
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-black>=0.1.1
        args: [
            "--max-line-length=88",
            "--ignore=E20,W503",
            "--exclude=**/migrations/*.py",
          ] # black compatible
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(scss|css|json|sql|md)$
        additional_dependencies:
          - prettier-plugin-sql@0.18.1
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.22.0
    hooks:
      - id: eslint
        entry: npx eslint
        additional_dependencies:
          - eslint-config-prettier@9.1.0
          - eslint-plugin-prettier@5.1.3
          - eslint-plugin-jsdoc@48.2.1
        args: ["--fix"]
  - repo: https://github.com/djlint/djLint
    # see https://djlint.com/docs/integrations/
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
        files: .*templates/.*\.html$
