#-e file:./python_package
# NOTE: cannot include requirements.txt that have relative paths, e.g. -e file:../python_package
#-r django_app/requirements.txt
-r docs/requirements.txt
black
build
setuptools
bumpversion
djlint
ipykernel
isort
# development and build tools
pre-commit
pytest
python-dotenv
scons
tox
twine
uv
vulture # find dead code
