# development and build tools
build
bumpversion
twine
tox
pre-commit
ipykernel

-r docs/requirements.txt
-r app/requirements.txt
-r assets/requirements.txt

# needed to run notebook (also to build docs)
-e ./python_package #
#-e ./python_client
