
-r django_app/requirements.txt
# development and build tools
build
bumpversion
ipykernel
pre-commit
python-dotenv
scons
tox
twine
vulture # find dead code
# NOTE: cannot include these from here
# if they include relative paths, e.g. -e file:../python_package
# -r docs/requirements.txt
