{% load i18n %}
{% load l10n %}

<li class="nav-item  ms-2">
  <div class="dropdown bd-mode-toggle">
    <!-- currently selected -->
    <button
      class="btn btn-bd-primary pt-2 px-0 dropdown-toggle d-flex align-items-center"
      id="bd-theme"
      type="button"
      data-bs-toggle="dropdown"
    >
      <i class="theme-icon-active bi bi-circle-half"></i>
    </button>
    <!-- switcher -->
    <ul class="dropdown-menu dropdown-menu-end shadow">
      <li>
        <button
          type="button"
          class="dropdown-item d-flex align-items-center"
          data-bs-theme-value="light"
        >
          <i class="theme-icon bi bi-sun-fill"></i>
          {% translate "Light" %}
        </button>
      </li>
      <li>
        <button
          type="button"
          class="dropdown-item d-flex align-items-center active"
          data-bs-theme-value="dark"
        >
          <i class="theme-icon bi bi-moon-stars-fill"></i>
          {% translate "Dark" %}
        </button>
      </li>
      <li>
        <button
          type="button"
          class="dropdown-item d-flex align-items-center"
          data-bs-theme-value="auto"
        >
          <i class="theme-icon bi bi-circle-half"></i>
          {% translate "Auto" %}
        </button>
      </li>
    </ul>
  </div>
</li>
