{% load i18n %}
{% load l10n %}

<li class="nav-item ms-2">
  {% if user.is_authenticated %}
    <div class="dropdown bd-mode-toggle">
      <!-- currently selected -->
      <button
        class="btn btn-bd-primary pt-2 px-0 dropdown-toggle d-flex align-items-center"
        type="button"
        data-bs-toggle="dropdown"
      >
        <i class="language-active bi bi-person me-1"></i>
        {{ user.username }}
      </button>
      <!-- switcher -->
      <ul class="dropdown-menu dropdown-menu-end shadow">
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button
              type="submit"
              class="dropdown-item d-flex align-items-center"
            >
              <i class="bi bi-power me-1"></i>{% translate "Logout" %}
            </button>
          </form>
        </li>
        <li>
          <a
            href="{% url 'profile' %}"
            class="dropdown-item d-flex align-items-center"
            ><i class="bi bi-person me-1"></i>{% translate "Profile" %}
          </a>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="my-2">
      <a
        href="{% url 'login' %}?next={% url 'index' %}"
        class="btn dropdown-item d-flex align-items-center"
        ><i class="bi bi-power me-1"></i>{% translate "Login" %}
      </a>
    </div>
  {% endif %}
</li>
