{% block title %}{{ request.user }}{% endblock title %}
{% block content %}
{% if user_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <div id="form_errors">
    {% for key, value in user_form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="form-content">
  <form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
  </form>
</div>
{% endblock content %}




<form action="{% url 'logout' %}?next={% url 'index' %}" method="post">
  {% csrf_token %}
  <button type="submit">log out</button>
</form>
