{% load i18n %}
{% load l10n %}
<li class="nav-item ms-2">
  <div class="dropdown bd-mode-toggle">
    <!-- currently selected -->
    <button class="btn btn-bd-primary pt-2 px-0 dropdown-toggle d-flex align-items-center"
            type="button"
            data-bs-toggle="dropdown">
      <i class="language-active bi bi-globe"></i>
    </button>
    <!-- switcher -->
    <ul class="dropdown-menu dropdown-menu-end shadow">
      {% for lang_code, lang_name in LANGUAGES %}
        <li>
          <button type="button"
                  class="dropdown-item d-flex align-items-center __active"
                  data-language-code="{{ lang_code }}">
            {% translate lang_name %}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
</li>
