{% load static %}

<!-- REST API -->
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
<script src="{% url 'api-docs:schema-js' %}"></script>
<script>

    //var coreapi = window.coreapi // Loaded by `coreapi.js`
    //var schema = window.schema // Loaded by `schema.js`


    /* calling the client returns a promise that returs data object (key is id) */
    var apiClient = (function createClient() {
        /* we don't need auth, readonly
        var auth = new coreapi.auth.SessionAuthentication({
            csrfCookieName: 'csrftoken',
            csrfHeaderName: 'X-CSRFToken',
        });
        */
        var auth = undefined;
        var client = new coreapi.Client({ auth: auth });

        return function (endpoint, action, params) {
            return client.action(schema, [endpoint, action], params)
        }


    })();


</script>
