# very old verions not cmpatible with latest python
# -r performance-distribution-tools/requirements.txt
pandas
matplotlib
numpy
seaborn
ipywidgets # for some reasons, using seaborn in django requires seaborn
PyYAML
shortcountrynames
countrygroups

# django
django<4
djangorestframework
coreapi
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
