name: docs

on:
  push:
    branches:
      - dev

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: |
          cd docs
          pip install uv
          uv sync --group docs
          uv run mkdocs gh-deploy --force
