name: docs

on:
  workflow_run:
    workflows:
      - test
    branches:
      - main
    types:
      - completed

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install uv
      - run: |
          cd docs
          uv run mkdocs gh-deploy --force
