name: pre-commit

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key:
            pre-commit-${{ runner.os }}-${{
            hashFiles('.pre-commit-config.yaml')}}
      - uses: actions/cache@v4
        with:
          path: node_modules
          key: pre-commit-${{ runner.os }}-${{ hashFiles('package.json')}}
      - run: npm install
      - run: pip install pre-commit
      - run: pre-commit run --all-files --show-diff-on-failure
