name: pypi

on:
  workflow_run:
    workflows:
      - test
    branches:
      - main
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install uv
      - run: |
          cd python_package
          uv build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: python_package/dist
